<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <%= link_to 'Back', root_path, class: "btn btn-outline-primary float-right" %>
  </div>
</div>
<h1>Editing Event</h1>

<%= render 'form', event: @event %>
